.container {
  width: calc(100% - 300px);
  margin: 0 auto;
  transition: width 0.5s ease-in-out;
}
@media screen and (width > 2000px) {
  .container {
    width: calc(100% - 600px);
  }
}
@media screen and (width < 1400px) {
  .container {
    width: calc(100% - 140px);
  }
}
@media screen and (width < 768px) {
  .container {
    width: calc(100% - 90px);
  }
}
@media screen and (width < 576px) {
  .container {
    width: calc(100% - 40px);
  }
}
